{% extends "base_navbar.html" %}

{% block main %}

<h3>{{ title }}
  <span style="float: right;">
    <a class="btn btn-default btn-export" href="{{ csv_url }}" role="button">csv</a>
    <a class="btn btn-default btn-export" href="{{ xls_url }}" role="button">xls</a></span></h3>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          {% for col in header %}
          <th>{{ col }}</th>
          {% endfor %}
        </tr>
        {% for row in body %}
        <tr>
          {% for col in row %}
          <td>{{ col }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
