{% extends "base_navbar.html" %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Table</th>
          <th>Timestamp</th>
          <th>Message</th>
        </tr>
        {% for table, table_data in tables.items %}
        <tr>
          <td>{{ table }}</td>
          <td>{{ table_data|get_item:'timestamp' }}</td>
          <td>{{ table_data|get_item:'message' }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>

{% endblock %}
