{% extends "base_navbar.html" %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Table</th>
          <th>Timestamp</th>
          <th>Message</th>
        </tr>
        {% for row in tables %}
        <tr>
          <td>{{ row|get_item:'table' }}</td>
          <td>{{ row|get_item:'timestamp' }}</td>
          {% if row|get_item:'message' is None %}
          <td></td>
          {% else %}
          <td>{{ row|get_item:'message' }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
</div>

{% endblock %}
