{% extends "base_navbar.html" %}

{% block main %}

<h3>{{ title }}</h3>

{% if active_import %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>WARNING</h4></div>
  <div class="panel-body">
    <p>An update is currently running!</p>
    <p>Check <a href="/dbbackend/tablestatus">Table status</a> page for more information.</p>
  </div>
</div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-body">
    <form action="/dbbackend/update/studentdates" method="POST">
      {% csrf_token %}
      <p>After uploading a new supervisor or grade results file, the start/end dates for students need to get recalculated.</p>
      {% if email_enabled %}
      <p>Email notification <input type="text" name="email_notification" value="{{ email_notification }}"/></p>
      {% else %}
      <input type="text" name="email_notification" hidden/>
      {% endif %}
      <input type="submit" value="Recalculate"/>
    </form>
  </div>
</div>

{% endblock %}
