{% extends "base_navbar.html" %}

{% block main %}

<h3>Automated Reporting</h3>
<p>Please choose from one of the following applications:</p>

{% if apps %}
    <div class="btn-group-vertical btn-group-vertical-separated" role="group" aria-label="...">
    {% for a in apps %}
        <button type="button" class="btn btn-default applist-button"><a href="/{{ a }}/">{{ apps_long|get_item:a }}</a></button>
    {% endfor %}
    </div>
{% else %}
    <p>No apps available.</p>
{% endif %}

{% endblock %}
