{% extends "base.html" %}

{% block content %}

{% block top %}

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/static/img/coat-of-arms_alone_small.png">
      </a>
      <a class="navbar-brand" href="/">Reporting</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for a in apps %}
            <li><a href="/{{ a }}">{{ apps_long|get_item:a }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
          {% if perms.database.can_manage_grade_results or perms.supervisors.can_manage_supervisors or perms.supervisors.can_manage_scholarships or perms.supervisors.can_manage_student_dates or perms.database.can_use_table_status %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Database <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if user.is_superuser %}
            <li><a href="/dbbackend/bulk">Bulk import</a></li>
            {% endif %}
            {% if perms.database.can_update_grade_results %}
            <li><a href="/dbbackend/graderesults">Import grade results</a></li>
            {% endif %}
            {% if perms.supervisors.can_update_supervisors %}
            <li><a href="/dbbackend/supervisors">Import supervisors</a></li>
            {% endif %}
            {% if perms.supervisors.can_update_scholarships %}
            <li><a href="/dbbackend/scholarships">Import scholarships</a></li>
            {% endif %}
            {% if perms.supervisors.can_update_student_dates %}
            <li><a href="/dbbackend/studentdates">Update student dates</a></li>
            {% endif %}
            {% if perms.database.can_use_table_status %}
            <li><a href="/dbbackend/tablestatus">Table status</a></li>
            {% endif %}
          </ul>
        </li>
          {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if local_users %}
            <li><a href="/accounts/password_change">Change password</a></li>
            {% endif %}
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}

<div class="container">
{% block main %}
{% endblock %}
</div>

{% block footer %}
{% endblock %}

{% endblock %}
