<html>
<head>
    <title>Reporting | {{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/reporting.css" type="text/css"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}this is the content{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>