{% extends "base_navbar.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/reporting.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Grade results</h3>
  </div>
  <div class="panel-body">
    <form action="/upload/graderesults" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <p>Export CSV from Brio/Hyperion</p>
      <ul>
        <li>TODO</li>
      </ul>
      <table class="database_params">
        <tr>
          <td>Year</td>
          <td>
            <select name="year">
              {% if years %}
              {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
              {% else %}
              <option value="9999">Not available</option>
              {% endif %}
            </select>
          </td>
        </tr>
        <tr>
          <td>GZIP compressed?</td>
          <td>
            <input type="checkbox" name="gzip"/>
          </td>
        </tr>
        <tr>
          <td>CSV file</td>
          <td>
            <input type="file" name="datafile"/>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Upload"/></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Research supervisors</h3>
  </div>
  <div class="panel-body">
    <p>Export CSV from Jade</p>
    <ul>
      <li>open Jade</li>
      <li>run <em>Research Supervisor Search Form</em></li>
      <li>export the result as CSV</li>
    </ul>
    <form action="/upload/supervisors" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <p>Select exported CSV file</p>
      <input type="file" name="datafile"/>
      <br/>
      <input type="submit" value="Upload"/>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recalculate student dates</h3>
  </div>
  <div class="panel-body">
    <form action="/supervisors/studentdates" method="POST">
      {% csrf_token %}
      <p>After uploading a new supervisor or grade results file, the start/end dates for students need to get recalculated.</p>
      <input type="submit" value="Recalculate"/>
    </form>
  </div>
</div>

{% endblock %}
