{% extends "base_navbar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/leave.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Export CSV from Brio/Hyperion</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>open Internet Explorer</li>
      <li>log into <a href="https://i.waikato.ac.nz/" target="_blank">iWaikato</a></li>
      <li>from <em>Common Tasks</em> select <em>Analyse Reports</em></li>
      <li>from <em>Key links</em> on the right hand side, select <em>Payroll Reports</em></li>
      <li>select the <em>leave charge</em> query</li>
      <li>change to <em>Results</em> view, which shows the full spreadsheet</li>
      <li>export the spreadsheet as CSV</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Upload</h3>
  </div>
  <div class="panel-body">
    <form action="/leave/upload" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <table class="table_params">
        <tr>
          <td>Faculty/School</td>
          <td>
            <select name="school" size="10" multiple>
              {% if schools %}
              {% for school in schools %}
              <option value="{{ school }}">{{ school }}</option>
              {% endfor %}
              {% else %}
              <option value="9999">Not available</option>
              {% endif %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Minimum days of leave</td>
          <td>
            <input type="text" name="minimum" value="{{ minimum }}"/>
          </td>
        </tr>
        <tr>
          <td>CSV file</td>
          <td>
            <input type="file" name="datafile"/>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Upload"/></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock %}
