{% extends "base_navbar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/supervisors.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Query</h3>
  </div>
  <div class="panel-body">
    TODO
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Upload</h3>
  </div>
  <div class="panel-body">
    <p>Export CSV from Jade</p>
    <ul>
      <li>open Jade</li>
      <li>run <em>Research Supervisor Search Form</em></li>
      <li>export the result as CSV</li>
    </ul>
    <form action="/supervisors/upload" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <p>Select exported CSV file</p>
      <input type="file" name="datafile"/>
      <br/>
      <input type="submit" value="Upload"/>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recalculate</h3>
  </div>
  <div class="panel-body">
    <form action="/supervisors/studentdates" method="POST">
      {% csrf_token %}
      <p>After uploading a new supervisor or grade results file, the start/end dates for students need to get recalculated.</p>
      <input type="submit" value="Recalculate"/>
    </form>
  </div>
</div>

{% endblock %}
