{% extends "base_navbar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/reporting.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Query</h3>
  </div>
  <div class="panel-body">
    <form action="/supervisors/list" method="POST">
      {% csrf_token %}
      <table class="database_params">
        <tr>
          <td>Faculty/School</td>
          <td>
            <select name="school" size="10" multiple>
              {% if schools %}
              {% for school in schools %}
              <option value="{{ school }}">{{ school }}</option>
              {% endfor %}
              {% else %}
              <option value="9999">Not available</option>
              {% endif %}
            </select>
          </td>
        </tr>
        <tr>
          {% if max_years %}
          <td>Years back (start date; max {{ max_years }})</td>
          {% else %}
          <td>Years back (start date)</td>
          {% endif %}
          <td>
            <input type="text" name="years_back" value="{{ years_back }}"/>
          </td>
        </tr>
        <tr>
          <td>Export as CSV</td>
          <td>
            <input type="checkbox" name="csv""/>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Generate"/></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock %}
