{% extends "base_navbar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/reporting.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">By Faculty</h3>
  </div>
  <div class="panel-body">
    <form action="/supervisors/search-by-faculty" method="POST">
      {% csrf_token %}
      <table class="database_params">
        <tr>
          <td>Faculty/School</td>
          <td>
            <select name="school" size="7" multiple>
              {% if schools %}
              {% for school in schools %}
              <option value="{{ school }}">{{ school }}</option>
              {% endfor %}
              {% else %}
              <option value="9999">Not available</option>
              {% endif %}
            </select>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Search"/></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">By Supervisor</h3>
  </div>
  <div class="panel-body">
    <form action="/supervisors/search-by-supervisor" method="POST">
      {% csrf_token %}
      <table class="database_params">
        <tr>
          <td>Name or ID</td>
          <td><input type="text" name="name"/></td>
        </tr>
        <tr>
          <td><input type="submit" value="Search"/></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">By Student</h3>
  </div>
  <div class="panel-body">
    <form action="/supervisors/search-by-student" method="POST">
      {% csrf_token %}
      <table class="database_params">
        <tr>
          <td>Name or ID</td>
          <td><input type="text" name="name"/></td>
        </tr>
        <tr>
          <td><input type="submit" value="Search"/></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock %}
