{% extends "base_navbar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/supervisors.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

{% for school, school_data in results.items %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ school }}</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>F/S</th>
          <th>Dept.</th>
          <th>Supervisor</th>
          <th>Prog.</th>
          <th>Student</th>
          <th>Start</th>
          <th>End</th>
          <th>Months</th>
          <th>FT</th>
          <th>Chief</th>
          <th>Status</th>
        </tr>
        {% for dept, dept_data in school_data.items %}
          {% for supervisor, supervisor_data in dept_data.items %}
            {% for program, program_data in supervisor_data.items %}
              {% for student, student_data in program_data.items %}
        <tr>
          <td><a href="/supervisors/search-by-faculty?school={{ school }}">{{ school }}</a></td>
          <td>{{ dept }}</td>
          <td><a href="/supervisors/search-by-supervisor?name={{ supervisor }}">{{ supervisor }}</a></td>
          <td>{{ program }}</td>
          <td><a href="/supervisors/search-by-student?name={{ student }}">{{ student_data|get_item:'name' }} - {{ student }}</a></td>
          <td>{{ student_data|get_item:'start_date' }}</td>
          <td>{{ student_data|get_item:'end_date' }}</td>
          <td>{{ student_data|get_item:'months' }}</td>
          <td>{{ student_data|get_item:'full_time' }}</td>
          <td>{{ student_data|get_item:'chief_supervisor' }}</td>
          <td>{{ student_data|get_item:'status' }}</td>
        </tr>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
