{% extends "base_navbar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/supervisors.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

{% for school, school_data in results.items %}
{# current #}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ school }} - Current</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Department</th>
          <th>Supervisor</th>
          <th>Program</th>
          <th>Student</th>
          <th>Start</th>
          <th>End</th>
          <th>Months</th>
          <th>Full time?</th>
          <th>Chief supervisor?</th>
        </tr>
        {% for dept, dept_data in school_data.items %}
          {% for supervisor, supervisor_data in dept_data.items %}
            {% for program, program_data in supervisor_data.items %}
              {% for student, student_data in program_data.items %}
                {% if student_data|get_item:'current' %}
        <tr>
          <td>{{ dept }}</td>
          <td>{{ supervisor }}</td>
          <td>{{ program }}</td>
          <td>{{ student }} - {{ student_data|get_item:'name' }}</td>
          <td>{{ student_data|get_item:'start_date' }}</td>
          <td>{{ student_data|get_item:'end_date' }}</td>
          <td>{{ student_data|get_item:'months' }}</td>
          <td>{{ student_data|get_item:'full_time' }}</td>
          <td>{{ student_data|get_item:'chief_supervisor' }}</td>
        </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{# historic #}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ school }} - Historic</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Department</th>
          <th>Supervisor</th>
          <th>Program</th>
          <th>Student</th>
          <th>Start</th>
          <th>End</th>
          <th>Months</th>
          <th>Full time?</th>
          <th>Chief supervisor?</th>
        </tr>
        {% for dept, dept_data in school_data.items %}
          {% for supervisor, supervisor_data in dept_data.items %}
            {% for program, program_data in supervisor_data.items %}
              {% for student, student_data in program_data.items %}
                {% if not student_data|get_item:'current' %}
        <tr>
          <td>{{ dept }}</td>
          <td>{{ supervisor }}</td>
          <td>{{ program }}</td>
          <td>{{ student }} - {{ student_data|get_item:'name' }}</td>
          <td>{{ student_data|get_item:'start_date' }}</td>
          <td>{{ student_data|get_item:'end_date' }}</td>
          <td>{{ student_data|get_item:'months' }}</td>
          <td>{{ student_data|get_item:'full_time' }}</td>
          <td>{{ student_data|get_item:'chief_supervisor' }}</td>
        </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
