{% extends "base_navbar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/supervisors.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

{% for school in schools %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ school }}</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Header</th>
        </tr>
        <tr>
          <td>{{ results|get_item:school }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
