{% extends "base_navbar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/reporting.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search By Supervisor</h3>
  </div>
  <div class="panel-body">
    <form action="/supervisors/list-by-supervisor" method="POST">
      {% csrf_token %}
      <table class="database_params">
        <tr>
          <td>Supervisor</td>
          <td>
            <select name="name" size="5" required>
              {% for supervisor_data in results %}
              <option value="{{ supervisor_data|get_item:'supervisor' }}">{{ supervisor_data|get_item:'supervisor' }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Years back</td>
          <td>
            <input type="number" name="years_back" value="{{ max_years }}" min="1" max="{{ max_years }}" required/>
          </td>
        </tr>
        <tr>
          <td>Program</td>
          <td>
            <select name="program" size="2" multiple>
              <option value="MD" selected>Master</option>
              <option value="DP" selected>PhD</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Supervisor type</td>
          <td>
            <select name="supervisor_type" size="2" multiple required>
              <option value="chief" selected>Chief</option>
              <option value="other" selected>Other</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Only current students?</td>
          <td>
            <input type="checkbox" name="only_current" checked/>
          </td>
        </tr>
        <tr>
          <td>Study type</td>
          <td>
            <select name="study_type" size="2" multiple required>
              <option value="full" selected>Full time</option>
              <option value="part" selected>Part time</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Minimum months</td>
          <td>
            <input type="number" name="min_months" step="0.1" min="0.0"/>
          </td>
        </tr>
        <tr>
          <td>Sort column</td>
          <td>
            <select name="sort_column" required>
              <option value="program">Program</option>
              <option value="start_date" selected>Start date</option>
              <option value="end_date">End date</option>
              <option value="months">Months</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Sort order</td>
          <td>
            <select name="sort_order" required>
              <option value="asc" selected>Ascending</option>
              <option value="desc">Descending</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Export as CSV</td>
          <td>
            <input type="checkbox" name="csv""/>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Generate"/></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock %}
