{% extends "base_navbar.html" %}

{% block main %}

{% if form.errors %}
<h3>Login error</h3>
<p>Your username and password didn't match. Please try again.</p>
{% else %}
<h3>Login</h3>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to access this site.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<table class="table_params">
  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </tr>
  <tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="submit" value="Login" />
      <input type="hidden" name="next" value="" />
    </td>
  </tr>
</table>
</form>

{% endblock %}