{% extends "base_navbar.html" %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
  <div class="panel-body">
    <form action="/al/output" method="POST">
      {% csrf_token %}
      <table class="table_params">
        <tr>
          <td>Faculty/School</td>
          <td>
            <select name="school">
              {% if schools %}
              {% for school in schools %}
              {% if school == last_school %}
              <option value="{{ school }}" selected>{{ school }}</option>
              {% else %}
              <option value="{{ school }}">{{ school }}</option>
              {% endif %}
              {% endfor %}
              {% else %}
              <option value="9999">Not available</option>
              {% endif %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Cuf-off date (YYYY-MM)</td>
          <td>
            {% if last_cutoff %}
            <input type="month" name="cutoff" value="{{ last_cutoff }}" required/>
            {% else %}
            <input type="month" name="cutoff" required/>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Minimum age</td>
          <td>
            {% if last_min_age %}
            <input type="number" name="min_age" min="0.0" value="{{ last_min_age }}"/>
            {% else %}
            <input type="number" name="min_age" min="0.0"/>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Minimum GPA</td>
          <td>
            {% if last_min_gpa %}
            <input type="number" name="min_gpa" min="0.0" max="9.0" value="{{ last_min_gpa }}"/>
            {% else %}
            <input type="number" name="min_gpa" min="0.0" max="9.0"/>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Minimum points</td>
          <td>
            {% if last_min_points %}
            <input type="number" name="min_points" min="0.0" value="{{ last_min_points }}"/>
            {% else %}
            <input type="number" name="min_points" min="0.0"/>
            {% endif %}
          </td>
        </tr>
        {% if query_date %}
        <tr>
          <td>Data as of</td>
          <td>{{ query_date }}</td>
        </tr>
        {% endif %}
        <tr>
          <td><input type="submit" value="Generate"/></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock %}
