{% extends "base_navbar.html" %}

{% block main %}

<h3>{{ title }}<span style="float: right;">
    <a class="btn btn-default btn-export" href="{{ csv_url }}" role="button">csv</a>
    <a class="btn btn-default btn-export" href="{{ xls_url }}" role="button">xls</a></span></h3>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          {% for col in header %}
          <th>{{ col }}</th>
          {% endfor %}
        </tr>
        {% for row in body %}
        <tr>
          <td><a href="/al/details?student={{ row|get_item:'id' }}">{{ row|get_item:'id' }}</a></td>
          <td>{{ row|get_item:'name' }}</td>
          <td>{{ row|get_item:'school' }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
