{% extends "base_navbar.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/database.css" type="text/css"/>
{% endblock %}

{% block main %}

<h3>{{ title }}</h3>

<div class="panel panel-default">
  <div class="panel-body">
    <form action="/database/import/graderesults" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <p>Export CSV from Brio/Hyperion</p>
      <ul>
        <li>open Internet Explorer</li>
        <li>log into <a href="https://i.waikato.ac.nz/" target="_blank">iWaikato</a></li>
        <li>from <em>Common Tasks</em> select <em>Analyse Reports</em></li>
        <li>from <em>Key links</em> on the right hand side, select <em>EFTS &amp; Student statistics</em></li>
        <li>select <em>Grade Analysis</em></li>
        <li>select the query for the appropriate year</li>
        <li>change to <em>Grade Analysis Results</em> view, which shows the full spreadsheet</li>
        <li>to export the spreadsheet as CSV, select <em>File -&gt; Export -&gt; Section</em>, select type <em>Text (comma-delimited) (*.csv) and a file name</em></li>
      </ul>
      <table class="database_params">
        <tr>
          <td>Year</td>
          <td>
            <select name="year">
              {% if years %}
              {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
              {% else %}
              <option value="9999">Not available</option>
              {% endif %}
            </select>
          </td>
        </tr>
        <tr>
          <td>GZIP compressed?</td>
          <td>
            <input type="checkbox" name="gzip"/>
          </td>
        </tr>
        <tr>
          <td>CSV file</td>
          <td>
            <input type="file" name="datafile"/>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Upload"/></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock %}
